body {
    background-color: lightskyblue;
    flex-direction: column;

}

.weather-item {
    justify-content: space-between;
    border: 2px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    width: 100%;
}

.weather-item img {
    width: 100%;
    height: auto;
}

