body {
    background-color: lightskyblue;
    background-image: url('weather-background.jpg');
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(60, 60, 160);
    text-shadow: white;
}

.forecast{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    border-radius: 20px;
}


.weather-item {
    text-align: center; 
    width: 100%;
    max-width: 100%; 
    min-width: 20%;
    border: 2px solid;
    border-radius: 10px;
    background-color: beige;
    box-shadow: 0 4px 8px grey;
    transition: 0.3s ease;
}

.weather-item:hover {
    box-shadow: 0 8px 16px grey;
}

.weather-item img {
    width: 25%;
    height: 100px;
}

